.dsmeta-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#sales {
  padding: 40px 10px;
}

body {
  margin: 0%;
  background-color: black;
  color: white;
  background: linear-gradient(180deg, #102347 0%, #181818 70%);
}
